<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <simpleshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <showmethod >1</showmethod >
                <model>bastrucks\shipping\Model\Carrier\Shipping</model>
                <name>BAS Shipping</name>
                <title>BAS Shipping</title>
                <handling_type>F</handling_type>
            </simpleshipping>
        </carriers>
    </default>
</config>
